.DS_Store
/.vscode/
/Stanford/
/build-CS106-Qt_6_5_1_for_macOS-Debug/

/fractal/build-Cantor-Qt_6_5_1_for_macOS-Debug/
/fractal/build-Coastline-Qt_6_5_1_for_macOS-Debug/
/fractal/build-Hfractal-Qt_6_5_1_for_macOS-Debug/
/fractal/build-Mondrian-Qt_6_5_1_for_macOS-Debug/
/fractal/build-Sierpinski-Qt_6_5_1_for_macOS-Debug/
/fractal/build-Snowflake-Qt_6_5_1_for_macOS-Debug/
/fractal/build-TickMeasure-Qt_6_5_1_for_macOS-Debug/
/fractal/build-TreeFractal-Qt_6_5_1_for_macOS-Debug/

/build-ToonShade-Qt_6_5_1_for_macOS-Debug/
/build-Towers-Of-Hanoi-Qt_6_5_1_for_macOS-Debug/
