.DS_Store
/.vscode/
/Stanford/
/build-CS106-Qt_6_5_1_for_macOS-Debug/

/fractal/build-Cantor-Qt_6_5_1_for_macOS-Debug/
/fractal/build-Coastline-Qt_6_5_1_for_macOS-Debug/
/fractal/build-Hfractal-Qt_6_5_1_for_macOS-Debug/
/fractal/build-Mondrian-Qt_6_5_1_for_macOS-Debug/
/fractal/build-Sierpinski-Qt_6_5_1_for_macOS-Debug/
/fractal/build-Snowflake-Qt_6_5_1_for_macOS-Debug/
/fractal/build-TickMeasure-Qt_6_5_1_for_macOS-Debug/
/fractal/build-TreeFractal-Qt_6_5_1_for_macOS-Debug/

/fractal/Cantor/Cantor.app/
/fractal/Cantor/Cantor.pro.user
/fractal/Coastline.app/
/fractal/Coastline/Coastline.pro.user
/fractal/Hfractal/Hfractal.app/
/fractal/Hfractal/Hfractal.pro.user
/fractal/Mondrian/Mondrian.app/
/fractal/Mondrian/Mondrian.pro.user
/fractal/Sierpinski/Sierpinski.app/
/fractal/Sierpinski/Sierpinski.pro.user
/fractal/Snowflake/Snowflake.app/
/fractal/Snowflake/Snowflake.pro.user
/fractal/TickMeasure/TickMeasure.app/
/fractal/TickMeasure/TickMeasure.pro.user
/fractal/TreeFractal/TreeFractal.app/
/fractal/TreeFractal/TreeFractal.pro.user

/build-ToonShade-Qt_6_5_1_for_macOS-Debug/
/build-Towers-Of-Hanoi-Qt_6_5_1_for_macOS-Debug/
